.badge {
  @include theme-aware('color', 'badge-color');
  display: inline-block;
  padding: .3em .45em;
  font-size: 80%;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .2rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  @media (prefers-reduced-motion:reduce) {
    transition: none
  }

  &:empty {
    display: none
  }
}

a.badge:focus,
a.badge:hover {
  text-decoration: none
}

.btn .badge {
  position: relative;
  top: -1px
}

.badge-pill {
  padding-right: .65em;
  padding-left: .65em;
  border-radius: 10rem
}